<launch>
  <arg name="model" default="$(find blocky_sim)/urdf/blocky.urdf.xacro" />
  <arg name="rvizconfig" default="$(find blocky_sim)/rviz/urdf.rviz" />

  <!-- Start Gazebo -->
  <include file="$(find blocky_sim)/launch/gazebo.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- Start RViz-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

  <!-- Load Controllers config-->
    <rosparam command="load"
    file="$(find blocky_sim)/config/controllers.yaml"
    ns="/blocky/controllers" />

  <!-- Spawn Controllers-->
  <node name="blocky_controller_spawner" pkg="controller_manager" type="spawner"
    args="
      /blocky/controllers/state
      /blocky/controllers/position/joint1
    " />

</launch>